<div class="main">
	
	<div class="eventinfo">
		<h2 class="eventinfo__eventname">Event name</h2>
		<h3 class="eventinfo__ownername"><span>by</span> Owner name</h3>
		<p class="eventinfo__description">Lorem ipsum dolor sit amet consecutur dolor it.</p>
		<p class="eventifo__eventtime">30 de abril de 2012, 20h</p>
	</div>
	
</div>