<div class="main">
	
	<a href="#" class="fbconnect">
		<span class="fbconnect__icon"><img src="<%= image_path "icon-fbconnect.png" %>" alt="Facebook connect" /></span><span class="fbconnect__text">Conecte-se</span>
	</a>
	
	<div class="eventinfo">
		<h2 class="eventinfo__eventname">Event name</h2>
		<h3 class="eventinfo__ownername"><span>by</span> Owner name</h3>
		<p class="eventinfo__description">Lorem ipsum dolor sit amet consecutur dolor it.</p>
		<p class="eventifo__eventtime">30 de abril de 2012, 20h</p>
	</div>
	
</div>