<% if session[:facebook].present? %>

  <p class="userinfo">
		Obrigado por logar, <span class="userinfo__username"><%= session[:facebook][:name] %></span>
  	<%= link_to "Deslogar", logout_path, :method => :delete, :class => "userinfo__logout" %>
	</p>

<% else %>

	<a href="/auth/facebook" class="fbconnect">
		<span class="fbconnect__icon"><img src="<%= image_path "icon-fbconnect.png" %>" alt="Facebook connect" /></span><span class="fbconnect__text">Conecte-se</span>
	</a>

<% end %>
