<div class="main">

	<% if session[:facebook].present? %>

	  <p class="userinfo">
			Você está logado como <span class="userinfo__username"><%= session[:facebook][:name] %></span>
		</p>

		<p class="userlogout">
	  	<%= link_to "Deslogar", logout_path, :method => :delete, :class => "userlogout__button" %>
		</p>
		
		<div class="start">

			<h2 class="introduction">
				Copie a URL do evento que você deseja obter as informações e cole-a no campo abaixo.
			</h2>

			<form class="searchevent">
				<input type="text" placeholder="Cole a URL do evento aqui" class="searchevent__input" />
				<input type="submit" value="Ok" class="searchevent__submit" />
			</form>
	
		</div>

	<% else %>

		<div class="start">

			<h2 class="introduction">
				Descubra quantos homens e mulheres vão estar presentes nos seus eventos do Facebook conectando-se abaixo.
			</h2>

			<a href="/auth/facebook" class="fbconnect">
				<span class="fbconnect__icon"><img src="<%= image_path "icon-fbconnect.png" %>" alt="Facebook connect" /></span><span class="fbconnect__text">Conecte-se</span>
			</a>
	
		</div>

	<% end %>

</div>