<div class="general_terms">
  <h1>Termo de Responsabilidade do site http://eventualize.se</h1>


  <h2>Sobre a utilização deste site</h2>
  <p>Ao utilizar este site você aceita todos os termos do presente termo de responsabilidade. Se você não concordar com alguma item no presente termo você cancelar a opção a seguir e não utilizar o site eventualize.se.</p>


  <h2>Garantias e Responsabilidade</h2>
  <p>Este site tem por objetivo a visualização de informações sobre eventos cadastrados e organizados através do site Facebook.com. O conteúdo deste site é fornecido de boa fé, os organizadores do site www.eventualize.se garante que as informações serão mantidas até à data, são verdadeiras e não enganosas, ou que este site estará sempre disponível para uso. As interrupções devido a manutenções de conteúdo ou por problemas de serviços de suporte externos serão comunicadas aos usuários ativos do site por email. Este site não se responsabiliza pelas informações disponibilizadas no website Facebook.com.</p>
  <p>Os serviços do site www.eventualize.se não oferecem riscos à contaminação por vírus e portanto determina que a responsabilidade do usuário tomar as disposições apropriadas para a proteção contra essas ameaças digitais.</p>
  <p>Em nenhum caso o site www.eventualize.se se responsabiliza por quaisquer danos incidentais, indiretos, conseqüentes ou especiais de qualquer natureza, ou quaisquer danos, incluindo, sem limitação, aqueles resultantes de lucros cessantes, perda de contratos, a boa vontade de dados , informação, renda, poupanças antecipadas ou relações de negócio, ou não avisada da possibilidade de tais danos, decorrentes de ou em conexão com o uso deste website ou de quaisquer sites vinculados.</p>


  <h2>Exceções</h2>
  <p>Nada neste aviso aviso exclui ou limita a qualquer garantia implícita por lei para a morte, a fraude, de lesões corporais por negligência, ou qualquer outra coisa que não seria lícito ao www.eventualize.se para excluir.</p>


  <h2>Licença de utilização</h2>
  <p>Ao utilizar este site, você concorda com as exclusões e limitações de responsabilidade acima mencionados e aceitá-os como razoáveis. Não utilize este site se você não concordar que eles são razoáveis.</p>
  <p>Se algum dos pontos deste termo de responsabilidade são encontrados para ser inexeqüível pela legislação aplicável, que não terá nenhuma influência sobre a exigibilidade do restante do aviso prévio aviso.</p>
  <p>O material neste site, incluindo textos e imagens, está protegido por direitos de autor e é autor de www.eventualize.se , a menos creditado em contrário. Não pode ser copiado, reproduzido, republicado, baixado, publicado ou transmitido de qualquer forma, exceto quando autorizado pelos autores do site. O prévio consentimento por escrito do detentor dos direitos deve ser obtido para qualquer outro uso do material com os autores.</p>
  <p>Nenhuma parte deste site pode ser distribuído ou copiado para qualquer finalidade comercial ou lucro financeiro.</p>
  <p>Todos os direitos de propriedade intelectual em relação a este site são reservados e de propriedade de www.eventualize.se.</p>


  <h2>Links para outros sites e produtos</h2>
  <p>Links para outros websites são fornecidos para a conveniência dos usuários. Nós somos incapazes de fornecer qualquer garantia quanto à exatidão ou completude do conteúdo de tais sites, ou a confiabilidade, qualidade ou eficácia dos produtos fornecidos através de sites externos. Um link para um site externo não implica um endosso dos pontos de vista, informações ou produtos fornecidos ou detidas por tais websites.</p>


  <h2>Lei e Jurisdição</h2>
  <p>Este Termo de Responsabilidade será interpretado e regido pelo Direito Brasileiro, e qualquer disputa em relação a ele estão sujeitos à jurisdição dos tribunais do Brasil.</p>


  <h2>Variações</h2>
  <p>Nós nos reservamos o direito de rever e alterar este Termo de Responsabilidade ao longo do tempo e qualquer versão revista será considerada aplicável a partir da data da primeira publicação neste site e os usuários ativos serão comunicados por email.</p>


  <h2>Quem Somos</p>
  <p>Este site é de propriedade da empresa Meganti Tecnologia da Informação LTDA.</p>
</div>
