// Basic styles

body {
	font-size:12px;
	font-family:helvetica, arial, sans-serif;
	color:#fff;
	background:#000;
}

a {
	color:#fff;
	text-decoration:none;
}

.header {
	text-align:center;
	padding:50px 0 0;
}

	.userinfo {
		position:absolute;
		left:0;
		top:0;
		margin:10px;
		text-align:left;
    color:rgba(255,255,255,.3);
	}
		.userinfo__username {
       color:rgba(255,255,255,.7);
       font-weight:bold;
       text-size:14px;
       text-decoration:none;
       @include transition(color .25s ease);
       text-shadow: 0px 1px 1px #000000;
		}

	.userlogout {
		position:absolute;
		top:0;
		right:0;
		margin:10px;
		text-align:right;
    color:rgba(255,255,255,.3);
	}
		.userlogout__button {
			display:block;
	    color:rgba(255,255,255,.7);
	    font-weight:bold;
	    text-size:14px;
	    text-decoration:none;
	    @include transition(color .25s ease);
	    text-shadow: 0px 1px 1px #000000;
	    &:hover {
	      color:rgba(255,255,255,1);
	      @include transition(color .25s ease);
	    }
		}

.fbconnect {
	position:relative;
	background:#3b5998;
	border-radius:3px;
	border:1px solid #213a6e;
	box-shadow:0 1px 2px #5f7ab3 inset, 0 -1px 1px #1b315d inset;
	height:60px;
	line-height:60px;
	display:inline-block;
	text-align:center;
}
	.fbconnect:hover {
		background:#3e5c9e;
		border:1px solid #1e3463;
		box-shadow:0 1px 2px #617db8 inset, 0 -1px 1px #192e57 inset, 0 1px 3px #143645;
	}
	.fbconnect:active {
		background:#37528c;
		border:1px solid #1c305c;
		box-shadow:0 1px 3px #192e57 inset;
	}
		.fbconnect:active .fbconnect__icon {
			border-right:1px solid #2e477d;
		}
		.fbconnect:active .fbconnect__text {
			border-left:1px solid #395591;
		}
	.fbconnect__icon {
		border-right:1px solid #334f8a;
		display:inline-block;
		height:inherit;
		vertical-align:top;
		margin:11px 0 0;
		padding:0 10px;
	}
	.fbconnect__text {
		border-left:1px solid #405e9d;
		display:inline-block;
		height:inherit;
		vertical-align:top;
		color:#fff;
		font-size:18px;
		font-weight:bold;
		padding:0 30px;
		text-shadow:0 1px 3px #000;
	}

.footer {
  position:absolute;
  width:100%;
  bottom:0;
  .social {
    float:left;
    margin:10px;
    .button {
      float:left;
      margin:0 10px 0 0;
    }
  }
  .footer-links {
    float:right;
    margin:10px 15px 10px 10px;
    li {
      float:left;
      margin:5px 0 0 10px;
      color:rgba(255,255,255,.3);
      a {
        float:left;
        color:rgba(255,255,255,.7);
        font-weight:bold;
        text-size:14px;
        text-decoration:none;
        @include transition(color .25s ease);
        text-shadow: 0px 1px 1px #000000;
        &:hover {
          color:rgba(255,255,255,1);
          @include transition(color .25s ease);
        }
      }
    }
  }
}
