<ul class="footer-links">
  <li>Eventualize.se 2012</li>
  <li><%= link_to "Termos de serviço", terms_path %></li>
  <li><%= mail_to "lfguth@gmail.com", "Contato", :subject => "Eventualize.se - " %></li>
</ul>