<div class="footer">
  <div class="social">
    <div class="button fb">
      <div class="fb-like" data-href="https://www.eventualize.se" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
    </div>
    <div class="button tw">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.eventualize.se" data-via="tourist_card" data-count="none">Tweet</a>          
    </div>
    <div class="button g+">
      <g:plusone size="medium" href="<%= root_path %>" annotation="none"></g:plusone>
    </div>
  </div>
</div>
